dm_tree
ffmpeg-python
folium~=0.15.0
geopandas
gym~=0.26.2
gymnasium
icecream~=2.1.3
imageio~=2.32.0
importlib-metadata
json5~=0.9.14
lz4
marllib~=1.0.3
matplotlib~=3.7.4
movingpandas
numpy~=1.22.0
osmnx~=1.7.1
opencv-python
pandas~=2.0.3
pyarrow
pycuda~=2023.1
pygame~=2.3.0
pytest
pyyaml~=6.0.1
pytorch_lightning
pytest-timeout
ray~=1.8.0
ray[tune]
ray[rllib]
scikit-learn
setuptools~=69.0.2
setproctitle~=1.3.3
seaborn
shapely~=2.0.2
supersuit~=3.2.0
torch~=2.1.0
tensorboardX
tqdm~=4.66.1
ujson
wandb~=0.16.0
gputil
tabulate~=0.9.0
networkx~=3.2.1
PettingZoo~=1.12.0
six~=1.16.0
pyglet~=2.0.10
scipy~=1.10.1
cloudpickle~=3.0.0
click~=8.1.7
psutil~=5.9.6
Pillow~=10.0.1
numba