ffmpeg-python
folium
gym
imageio
json5
matplotlib
numpy
osmnx
opencv-python
pandas
pycuda
pygame
pytest
pyyaml
pytorch_lightning
pytest-timeout
scikit-learn
setuptools
seaborn
shapely
torch
tqdm
ujson
wandb
gputil

